@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-bgdark: #141d2f;
  --color-bglight: #ebebeb;
  --color-primary: #0079ff;
  --color-white: #fff;
  --color-bgdarksec: #222731;
  --color-bglightsec: #d9d9d8;

  --color-fontmain: #222731;

  --font-merri: "Merriweather", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-mont: "Montserrat", sans-serif;

  --transition: all 0.3s ease;

  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: var(--color-fontmain);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app.dark h1,
.app.dark h2,
.app.dark h3 {
  color: var(--color-white);
}

.app {
  background-color: var(--color-bglight);
  transition: var(--transition);
}

.app.dark {
  background-color: var(--color-bgdark);
}

.main {
  width: 100%;

  padding: 0rem 3rem;
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 1.5rem;
    height: 100%;
  }
}

/* Header Section */
.header {
  background-color: #fff;
  transition: var(--transition);
}

.app.dark .header {
  background: rgba(83, 155, 244, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
}

.header-wrapper {
  width: 100%;
  height: 90px;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app.dark .header {
  color: white;
}

.logo {
  font-size: 1.5rem;
  line-height: 0.8rem;
  filter: drop-shadow(0 0 0.7rem crimson);
  text-shadow: #fc0 1px 0 5px;
  cursor: pointer;
}

.logo__special {
  display: block;
  font-size: 0.7rem;
  color: var(--color-primary);
  letter-spacing: 1px;
  text-align: center;
}

.nav__lists {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav__links {
  font-size: 2rem;
  color: var(--color-primary);
  color: #4b6a9b;
  transition: all 0.3s ease;
}

button.nav__links {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.app.dark .nav__links {
  color: var(--color-white);
}

.app .nav__links:hover,
.app .nav__links.active {
  color: var(--color-primary);
  filter: drop-shadow(0 0 1rem var(--color-primary));
}

.app.dark .nav__links:hover,
.app.dark .nav__links.active {
  filter: drop-shadow(0 0 1rem var(--color-primary));
  color: var(--color-primary);
  transform: scale(1.2);
}

@media only screen and (max-width: 430px) {
  .header-wrapper {
    padding: 0 1rem;
  }

  .nav__lists {
    gap: 0.8rem;
  }

  .nav__links {
    font-size: 1.3rem;
  }
}

/* Header Section */

/* Home Section */

.hero {
  height: calc(100vh - 90px);
  padding-block: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  color: var(--color-fontmain);
}

.app.dark .hero {
  color: white;
}

.hero__img-cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__img-cont img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
}

.hero__img-cont:before,
.hero__img-cont:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50px;
  animation: animate 20s linear infinite;
}

.hero__img-cont:after {
  filter: blur(20px);
}

.hero__content-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__greet {
  font-size: 2rem;
  font-family: var(--font-mont);
}

.hero__hl {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.hero__hl .colored {
  color: var(--color-primary);
}

.hero__post {
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 900;
  margin-bottom: 2rem;
}

.hero__line {
  width: 80%;
  height: 5px;
  background-color: var(--color-fontmain);
  margin-bottom: 2rem;
}

.app.dark .hero__line {
  background-color: var(--color-white);
}

.hero__about {
  width: 80%;
  font-family: var(--font-merri);
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: transparent;
  font-family: var(--font-mont);
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  gap: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 824px) {
  .hero {
    gap: 4rem;
  }

  .hero__about {
    width: 100%;
  }
}

@media only screen and (max-width: 746px) {
  .hero {
    padding: 1rem 2rem;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .hero__img-cont {
    height: 350px;
  }

  .hero__content-cont {
    width: 100%;
  }

  .hero__line {
    width: 100%;
  }

  .btn {
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 520px) {
  .hero {
    padding: 0;
  }

  .hero__content-cont {
    padding: 0 1rem;
  }

  .hero__greet {
    font-size: 1.5rem;
  }

  .hero__hl {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 430px) {
  .hero__img-cont {
    height: 250px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Home Section */

/* Skills Section  */

.skills {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}

.skill-wrapper {
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.skill-wrapper:hover {
  transform: scale(1.1);
}

.skill {
  padding: 1.2rem;
  width: 100%;
  height: 120px;
  border-radius: 50%;
  background: rgba(243, 244, 247, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-wrapper h3 {
  margin-top: 0.5rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--font-mont);
}

@media only screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .skill-wrapper {
    width: 80px;
  }

  .skill {
    height: 80px;
  }

  .skill-wrapper h3 {
    font-size: 0.8rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 400px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }
}

/* Skills Section  */

/* Loader Style */

/* From Uiverse.io by Nawsome */
.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

/* Loader Style */

/* Project Styling */

.projects {
  height: calc(100vh - 90px);
  padding-top: 1rem;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Project Card Styling */
/* From Uiverse.io by gharsh11032000 */
.card-container {
  max-width: 400px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .front-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #95c5fc 0%, var(--color-primary) 100%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: var(--font-mont);
}

.card .content .heading {
  font-size: 2rem;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

/* Project Card Styling */
/* Pagination Styling  */
.pagination {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-link {
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  display: block;
  font-size: 18px;
  border-radius: 2px !important;
  border: 1px solid #e4e4e4;
  color: #4c4c4c;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.page-item.disabled .page-link {
  color: #fff;
  background-color: gray;
  pointer-events: none;
  border-color: #dee2e6;
}

.pagination li + li {
  margin-left: 10px;
}

.pagination .page-link.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.pagination .page-link:hover {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.page-indx {
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: var(--font-mont);
}

.app.dark .page-indx {
  color: #fff;
}

.page-indx span {
  color: var(--color-primary);
  font-size: 2rem;
}
/* Pagination Styling  */
@media only screen and (max-width: 1150px) {
  .projects {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .projects-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Project Styling */

/* Contact Styling */
.contact-form-wrapper {
  height: calc(100vh - 90px);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  font-family: var(--font-mont);
}

.contact-form-content1 h1 {
  font-size: 4rem;
  line-height: 1.1;
}

.contact-form-content1 p {
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.app.dark .contact-form-content1 p {
  color: #fff;
  margin-bottom: 2rem;
}

.email-card-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  color: var(--color-fontmain);
  border-radius: 8px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.app.dark .email-card-wrapper {
  background-color: #1f2937;
  color: white;
}

.email-card__icon {
  font-size: 2rem;
  padding: 1rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3392ff;
  border-radius: 50%;
  color: white;
}

.email-card-wrapper a {
  color: var(--color-fontmain);
  text-decoration: none;
}

.app.dark .email-card-wrapper a {
  color: white;
  font-weight: 500;
}

.email-card-wrapper a span {
  display: block;
  margin-top: 0.5rem;
  font-weight: 600;
  transition: var(--transition);
}

.email-card-wrapper a span:hover {
  color: var(--color-primary);
}

.contact-form {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.app.dark .contact-form {
  background-color: #1f2937;
}

.contact-form h2 {
  text-transform: capitalize;
  letter-spacing: 0.9px;
}

.contact-form form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input {
  display: block;
  width: 100%;
  height: 40px;
  font-family: var(--font-mont);
  font-weight: 500;
  padding-inline: 1rem;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--color-bglight);
}

.app.dark .contact-form input {
  background-color: #374151;
  color: #fff;
}

.contact-form input:focus,
.contact-form input:focus-visible {
  border: 1px solid var(--color-primary);
}

.contact-form textarea {
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-family: var(--font-mont);
  border: 1px solid transparent;
  outline: none;
  background-color: var(--color-bglight);
}

.app.dark .contact-form textarea {
  background-color: #374151;
  color: #fff;
}

.contact-form textarea:focus,
.contact-form textarea:focus-visible {
  border: 1px solid var(--color-primary);
}
.contact-form button {
  background-color: var(--color-primary);
  padding: 1rem;
  width: 30%;
  border: none;
  font-weight: 800;
  color: white;
  letter-spacing: 0.75px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
  outline: none;
}

.contact-form button:hover,
.contact-form button:focus-visible {
  background-color: #0061cc;
}

@media only screen and (max-width: 1140px) {
  .contact-form-wrapper {
    padding-block: 2rem;
    height: 100%;
    grid-template-columns: 1fr;
  }

  .contact-form-content1 {
    text-align: center;
  }

  .email-card-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .email-card-wrapper {
    width: 70%;
  }

  .contact-form-content1 h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 565px) {
  .contact-form {
    padding: 3rem 1.5rem;
  }
  .email-card-wrapper {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 445px) {
  .email-card-wrapper {
    width: 90%;
  }

  .contact-form button {
    width: 100%;
  }
}
/* Contact Styling */
